@font-face {
    font-family: 'Objektiv Mk3';
    src: url('ObjektivMk3-Regular.eot');
    src: local('Objektiv Mk3 Regular'), local('ObjektivMk3-Regular'),
        url('ObjektivMk3-Regular.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-Regular.woff2') format('woff2'),
        url('ObjektivMk3-Regular.woff') format('woff'),
        url('ObjektivMk3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk1';
    src: url('ObjektivMk1-Regular.eot');
    src: local('Objektiv Mk1 Regular'), local('ObjektivMk1-Regular'),
        url('ObjektivMk1-Regular.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-Regular.woff2') format('woff2'),
        url('ObjektivMk1-Regular.woff') format('woff'),
        url('ObjektivMk1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk3';
    src: url('ObjektivMk3-Italic.eot');
    src: local('Objektiv Mk3 Italic'), local('ObjektivMk3-Italic'),
        url('ObjektivMk3-Italic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-Italic.woff2') format('woff2'),
        url('ObjektivMk3-Italic.woff') format('woff'),
        url('ObjektivMk3-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk3';
    src: url('ObjektivMk3-Black.eot');
    src: local('Objektiv Mk3 Black'), local('ObjektivMk3-Black'),
        url('ObjektivMk3-Black.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-Black.woff2') format('woff2'),
        url('ObjektivMk3-Black.woff') format('woff'),
        url('ObjektivMk3-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk1';
    src: url('ObjektivMk1-Light.eot');
    src: local('Objektiv Mk1 Light'), local('ObjektivMk1-Light'),
        url('ObjektivMk1-Light.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-Light.woff2') format('woff2'),
        url('ObjektivMk1-Light.woff') format('woff'),
        url('ObjektivMk1-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('ObjektivMk2-Black.eot');
    src: local('Objektiv Mk2 Black'), local('ObjektivMk2-Black'),
        url('ObjektivMk2-Black.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-Black.woff2') format('woff2'),
        url('ObjektivMk2-Black.woff') format('woff'),
        url('ObjektivMk2-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk1';
    src: url('ObjektivMk1-Medium.eot');
    src: local('Objektiv Mk1 Medium'), local('ObjektivMk1-Medium'),
        url('ObjektivMk1-Medium.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-Medium.woff2') format('woff2'),
        url('ObjektivMk1-Medium.woff') format('woff'),
        url('ObjektivMk1-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk3';
    src: url('ObjektivMk3-MediumItalic.eot');
    src: local('Objektiv Mk3 Medium Italic'), local('ObjektivMk3-MediumItalic'),
        url('ObjektivMk3-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-MediumItalic.woff2') format('woff2'),
        url('ObjektivMk3-MediumItalic.woff') format('woff'),
        url('ObjektivMk3-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('ObjektivMk2-MediumItalic.eot');
    src: local('Objektiv Mk2 Medium Italic'), local('ObjektivMk2-MediumItalic'),
        url('ObjektivMk2-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-MediumItalic.woff2') format('woff2'),
        url('ObjektivMk2-MediumItalic.woff') format('woff'),
        url('ObjektivMk2-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk3 XBold';
    src: url('ObjektivMk3-XBold.eot');
    src: local('Objektiv Mk3 XBold'), local('ObjektivMk3-XBold'),
        url('ObjektivMk3-XBold.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-XBold.woff2') format('woff2'),
        url('ObjektivMk3-XBold.woff') format('woff'),
        url('ObjektivMk3-XBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('ObjektivMk2-BlackItalic.eot');
    src: local('Objektiv Mk2 Black Italic'), local('ObjektivMk2-BlackItalic'),
        url('ObjektivMk2-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-BlackItalic.woff2') format('woff2'),
        url('ObjektivMk2-BlackItalic.woff') format('woff'),
        url('ObjektivMk2-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('ObjektivMk2-LightItalic.eot');
    src: local('Objektiv Mk2 Light Italic'), local('ObjektivMk2-LightItalic'),
        url('ObjektivMk2-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-LightItalic.woff2') format('woff2'),
        url('ObjektivMk2-LightItalic.woff') format('woff'),
        url('ObjektivMk2-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk3';
    src: url('ObjektivMk3-Bold.eot');
    src: local('Objektiv Mk3 Bold'), local('ObjektivMk3-Bold'),
        url('ObjektivMk3-Bold.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-Bold.woff2') format('woff2'),
        url('ObjektivMk3-Bold.woff') format('woff'),
        url('ObjektivMk3-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('ObjektivMk2-Light.eot');
    src: local('Objektiv Mk2 Light'), local('ObjektivMk2-Light'),
        url('ObjektivMk2-Light.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-Light.woff2') format('woff2'),
        url('ObjektivMk2-Light.woff') format('woff'),
        url('ObjektivMk2-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk2 XBold';
    src: url('ObjektivMk2-XBold.eot');
    src: local('Objektiv Mk2 XBold'), local('ObjektivMk2-XBold'),
        url('ObjektivMk2-XBold.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-XBold.woff2') format('woff2'),
        url('ObjektivMk2-XBold.woff') format('woff'),
        url('ObjektivMk2-XBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk1 XBold';
    src: url('ObjektivMk1-XBoldItalic.eot');
    src: local('Objektiv Mk1 XBold Italic'), local('ObjektivMk1-XBoldItalic'),
        url('ObjektivMk1-XBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-XBoldItalic.woff2') format('woff2'),
        url('ObjektivMk1-XBoldItalic.woff') format('woff'),
        url('ObjektivMk1-XBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk1';
    src: url('ObjektivMk1-Black.eot');
    src: local('Objektiv Mk1 Black'), local('ObjektivMk1-Black'),
        url('ObjektivMk1-Black.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-Black.woff2') format('woff2'),
        url('ObjektivMk1-Black.woff') format('woff'),
        url('ObjektivMk1-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('ObjektivMk2-Italic.eot');
    src: local('Objektiv Mk2 Italic'), local('ObjektivMk2-Italic'),
        url('ObjektivMk2-Italic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-Italic.woff2') format('woff2'),
        url('ObjektivMk2-Italic.woff') format('woff'),
        url('ObjektivMk2-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk1';
    src: url('ObjektivMk1-LightItalic.eot');
    src: local('Objektiv Mk1 Light Italic'), local('ObjektivMk1-LightItalic'),
        url('ObjektivMk1-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-LightItalic.woff2') format('woff2'),
        url('ObjektivMk1-LightItalic.woff') format('woff'),
        url('ObjektivMk1-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk3';
    src: url('ObjektivMk3-BoldItalic.eot');
    src: local('Objektiv Mk3 Bold Italic'), local('ObjektivMk3-BoldItalic'),
        url('ObjektivMk3-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-BoldItalic.woff2') format('woff2'),
        url('ObjektivMk3-BoldItalic.woff') format('woff'),
        url('ObjektivMk3-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('ObjektivMk2-Medium.eot');
    src: local('Objektiv Mk2 Medium'), local('ObjektivMk2-Medium'),
        url('ObjektivMk2-Medium.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-Medium.woff2') format('woff2'),
        url('ObjektivMk2-Medium.woff') format('woff'),
        url('ObjektivMk2-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk3';
    src: url('ObjektivMk3-LightItalic.eot');
    src: local('Objektiv Mk3 Light Italic'), local('ObjektivMk3-LightItalic'),
        url('ObjektivMk3-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-LightItalic.woff2') format('woff2'),
        url('ObjektivMk3-LightItalic.woff') format('woff'),
        url('ObjektivMk3-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk1';
    src: url('ObjektivMk1-Italic.eot');
    src: local('Objektiv Mk1 Italic'), local('ObjektivMk1-Italic'),
        url('ObjektivMk1-Italic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-Italic.woff2') format('woff2'),
        url('ObjektivMk1-Italic.woff') format('woff'),
        url('ObjektivMk1-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('ObjektivMk2-Thin.eot');
    src: local('Objektiv Mk2 Thin'), local('ObjektivMk2-Thin'),
        url('ObjektivMk2-Thin.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-Thin.woff2') format('woff2'),
        url('ObjektivMk2-Thin.woff') format('woff'),
        url('ObjektivMk2-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk3 XBold';
    src: url('ObjektivMk3-XBoldItalic.eot');
    src: local('Objektiv Mk3 XBold Italic'), local('ObjektivMk3-XBoldItalic'),
        url('ObjektivMk3-XBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-XBoldItalic.woff2') format('woff2'),
        url('ObjektivMk3-XBoldItalic.woff') format('woff'),
        url('ObjektivMk3-XBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk1';
    src: url('ObjektivMk1-Thin.eot');
    src: local('Objektiv Mk1 Thin'), local('ObjektivMk1-Thin'),
        url('ObjektivMk1-Thin.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-Thin.woff2') format('woff2'),
        url('ObjektivMk1-Thin.woff') format('woff'),
        url('ObjektivMk1-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk3';
    src: url('ObjektivMk3-Light.eot');
    src: local('Objektiv Mk3 Light'), local('ObjektivMk3-Light'),
        url('ObjektivMk3-Light.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-Light.woff2') format('woff2'),
        url('ObjektivMk3-Light.woff') format('woff'),
        url('ObjektivMk3-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk3';
    src: url('ObjektivMk3-Medium.eot');
    src: local('Objektiv Mk3 Medium'), local('ObjektivMk3-Medium'),
        url('ObjektivMk3-Medium.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-Medium.woff2') format('woff2'),
        url('ObjektivMk3-Medium.woff') format('woff'),
        url('ObjektivMk3-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('ObjektivMk2-Bold.eot');
    src: local('Objektiv Mk2 Bold'), local('ObjektivMk2-Bold'),
        url('ObjektivMk2-Bold.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-Bold.woff2') format('woff2'),
        url('ObjektivMk2-Bold.woff') format('woff'),
        url('ObjektivMk2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('ObjektivMk2-ThinItalic.eot');
    src: local('Objektiv Mk2 Thin Italic'), local('ObjektivMk2-ThinItalic'),
        url('ObjektivMk2-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-ThinItalic.woff2') format('woff2'),
        url('ObjektivMk2-ThinItalic.woff') format('woff'),
        url('ObjektivMk2-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('ObjektivMk2-BoldItalic.eot');
    src: local('Objektiv Mk2 Bold Italic'), local('ObjektivMk2-BoldItalic'),
        url('ObjektivMk2-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-BoldItalic.woff2') format('woff2'),
        url('ObjektivMk2-BoldItalic.woff') format('woff'),
        url('ObjektivMk2-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk3';
    src: url('ObjektivMk3-ThinItalic.eot');
    src: local('Objektiv Mk3 Thin Italic'), local('ObjektivMk3-ThinItalic'),
        url('ObjektivMk3-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-ThinItalic.woff2') format('woff2'),
        url('ObjektivMk3-ThinItalic.woff') format('woff'),
        url('ObjektivMk3-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk2 XBold';
    src: url('ObjektivMk2-XBoldItalic.eot');
    src: local('Objektiv Mk2 XBold Italic'), local('ObjektivMk2-XBoldItalic'),
        url('ObjektivMk2-XBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-XBoldItalic.woff2') format('woff2'),
        url('ObjektivMk2-XBoldItalic.woff') format('woff'),
        url('ObjektivMk2-XBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk3';
    src: url('ObjektivMk3-BlackItalic.eot');
    src: local('Objektiv Mk3 Black Italic'), local('ObjektivMk3-BlackItalic'),
        url('ObjektivMk3-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-BlackItalic.woff2') format('woff2'),
        url('ObjektivMk3-BlackItalic.woff') format('woff'),
        url('ObjektivMk3-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk1';
    src: url('ObjektivMk1-BlackItalic.eot');
    src: local('Objektiv Mk1 Black Italic'), local('ObjektivMk1-BlackItalic'),
        url('ObjektivMk1-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-BlackItalic.woff2') format('woff2'),
        url('ObjektivMk1-BlackItalic.woff') format('woff'),
        url('ObjektivMk1-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk1';
    src: url('ObjektivMk1-MediumItalic.eot');
    src: local('Objektiv Mk1 Medium Italic'), local('ObjektivMk1-MediumItalic'),
        url('ObjektivMk1-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-MediumItalic.woff2') format('woff2'),
        url('ObjektivMk1-MediumItalic.woff') format('woff'),
        url('ObjektivMk1-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk1';
    src: url('ObjektivMk1-ThinItalic.eot');
    src: local('Objektiv Mk1 Thin Italic'), local('ObjektivMk1-ThinItalic'),
        url('ObjektivMk1-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-ThinItalic.woff2') format('woff2'),
        url('ObjektivMk1-ThinItalic.woff') format('woff'),
        url('ObjektivMk1-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('ObjektivMk2-Regular.eot');
    src: local('Objektiv Mk2 Regular'), local('ObjektivMk2-Regular'),
        url('ObjektivMk2-Regular.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk2-Regular.woff2') format('woff2'),
        url('ObjektivMk2-Regular.woff') format('woff'),
        url('ObjektivMk2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk1';
    src: url('ObjektivMk1-BoldItalic.eot');
    src: local('Objektiv Mk1 Bold Italic'), local('ObjektivMk1-BoldItalic'),
        url('ObjektivMk1-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-BoldItalic.woff2') format('woff2'),
        url('ObjektivMk1-BoldItalic.woff') format('woff'),
        url('ObjektivMk1-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Objektiv Mk1';
    src: url('ObjektivMk1-Bold.eot');
    src: local('Objektiv Mk1 Bold'), local('ObjektivMk1-Bold'),
        url('ObjektivMk1-Bold.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-Bold.woff2') format('woff2'),
        url('ObjektivMk1-Bold.woff') format('woff'),
        url('ObjektivMk1-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk3';
    src: url('ObjektivMk3-Thin.eot');
    src: local('Objektiv Mk3 Thin'), local('ObjektivMk3-Thin'),
        url('ObjektivMk3-Thin.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk3-Thin.woff2') format('woff2'),
        url('ObjektivMk3-Thin.woff') format('woff'),
        url('ObjektivMk3-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Objektiv Mk1 XBold';
    src: url('ObjektivMk1-XBold.eot');
    src: local('Objektiv Mk1 XBold'), local('ObjektivMk1-XBold'),
        url('ObjektivMk1-XBold.eot?#iefix') format('embedded-opentype'),
        url('ObjektivMk1-XBold.woff2') format('woff2'),
        url('ObjektivMk1-XBold.woff') format('woff'),
        url('ObjektivMk1-XBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

